<!-- Header -->
<%- include('../include/_header') %>
<main>
  
<div class="container">
    
  <!-- Top Section -->
  <div class="container quote">
      <div class="text-center mt-5">
          <div class="bg-light rounded p-5 mt-3">
              <h3>Welcome To Amazone</h3>
                  <p>Check our cool E-commerse Website, and amazing products feel free to buy.</p>
                  <i>Please Login for cart and buy features</i>
          </div>
      </div>
  </div>


  <section id="card-container">
    <div class="container">
        <div class="container featured-products"><h2>All Products</h2></div>
        <div class="row">
            <!-- card 1 -->
            <% if (prods.length > 0) { %>
            
                <% for (let product of prods) { %>
                    <div class="col-4">
                        <div class="card text-center">
                            <img src="<%= product.productImage %>" alt="productImage" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title"><%= product.productTitle%></h5>
                                <p class="card-text">Rs. <%= product.productPrice %></p>
                                    <% if (isAuthenticated) { %>
                                        <%- include('../include/add-to-cart', {product: product}) %>
                                    <% } %>
                            </div>
                        </div>
                    </div>
                <% } %>
            <% } else { %>
                <h1>No Products Found!</h1>
                <% } %>
        </div>
    </div>
</section>



</main>


<!-- footer -->
<%- include('../include/_footer') %>